.accordion-button{
    background-color: var(--card-bg) !important;
    color: var(--text-primary) !important;
}

.body-bg-accord{
    background-color: var(--course-card-bg);
    color: var(--text-primary);
}

.text-bg{
    color: var(--text-primary);
}
