.radius-top{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.submit-btn{
    background-color: #5b3979 !important;
}

.submit-btn:hover{
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    transition: 0.5s;
}

.icon-signIn{
    color: #5b3979;
}

.icon-signIn>p{
    cursor: pointer;
    padding: 10px 10px;
    padding-top: 0 !important;
}

.icon-signIn>p:hover{
    background-color: #e7e4e4;
    border-radius: 50%;
    transition: 0.5s;
}

.login-bg-control{
    background-color: var(--course-card-bg) !important;
    color: var(--text-primary) !important;
}